[mysqld]
datadir = ${MYSQL_DATADIR}
basedir = ${MYSQL_PREFIX}
plugin-dir = ${MYSQL_PREFIX}/lib64/mysql/plugin

ssl-ca=${SSL_CA_ROOT}
ssl-cert=${SSL_CERTIFICATE}
ssl-key=${SSL_PRIVATE_KEY}
## Set up TLS version here. For example TLS version 1.2 and 1.3 ##
tls_version = TLSv1.3
